<%= cloudinary_js_config %>
<script>
  $(function(){
    $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
      $('.preview').html(
        $.cloudinary.image(data.result.public_id, 
          { format: data.result.format, version: data.result.version, 
            crop: 'fill', width: 150, height: 100 })
      );    
      $('.image_public_id').val(data.result.public_id);    
      return true;
    })
    
    $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
      $(".upload_status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
    })
  })
</script>

<%= form_for(@painting) do |f| %>
  <h3><%= form_title %></h3>
  <h4><%= form_info_text %></h4>
  <% if @painting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@painting.errors.count, "error") %> prohibited this painting from being saved:</h2>

      <ul>
      <% @painting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= label_tag :image_name %><br />
    <%= f.cl_image_upload(
          :image_name,
          crop: :limit,
          width: 1500,
          height: 1000, 
          use_filename: true, 
          unique_filename: false) %>
    <div class="upload_status"></div>
    <div class="preview"></div>
  </div>
  <div class="field">
    <%= f.check_box :featured %>
    <%= f.label :featured %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
